openapi: '3.0.2'
info:
  title: Test API
  version: '1.0'
servers:
  - url: https://testapi.home.lab
    description: HomeLab-Server
  - url: http://localhost:3002
    description: Local-Server
paths:
  /users:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    pattern: '([A-Za-z0-9]{1,20}\s?){1,3}'
                    minLength: 3
                    maxLength: 62
                    description: The user name
    put:
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: '([A-Za-z0-9]{1,20}\s?){1,3}'
                  minLength: 3
                  maxLength: 62
                  description: The new user name
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "User modified with ID: ${user_id}"
  /sale:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    sale_id:
                      type: string
                      description: The sale ID
                    amount:
                      type: integer
                      minimum: 1
                      maximum: 999
                      description: The amount of ordered items
                    date_sale:
                      type: string
                      description: The time it was ordered
                    order_status_id:
                      type: string
                      description: The order status ID
                    update_at:
                      type: string
                      description: Last time modified
                    status_name:
                      type: string
                      description: The current state of the order
                    name:
                      type: string
                      description: The product name
  /sale/order:
    post:
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: The product ID
                amount:
                  type: integer
                  minimum: 1
                  maximum: 999
                  description: The amount of ordered items
      responses:
        '201':
          description: "none"
          content:
            application/json:
              schema:
                type: object
                properties:
                  sale_id:
                    type: string
                    description: The sale ID
                  amount:
                    type: integer
                    minimum: 1
                    maximum: 999
                    description: The amount of ordered items
                  date_sale:
                    type: string
                    description: The time it was ordered
                  product_id:
                    type: integer
                    minimum: 1
                    maximum: 100
                    description: The product ID
                  user_id:
                    type: integer
                    description: The user ID
                  store_id:
                    type: integer
                    description: The store ID
  /sale/order/{item}:
    put:
      parameters:
        - in: path
          name: item
          schema:
            type: integer
            minimum: 1
            maximum: 5
          required: true
          description: The item in the list that should be changed
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: The product ID
                amount:
                  type: integer
                  minimum: 1
                  maximum: 999
                  description: The amount of ordered items
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "Updated order"

    delete:
      parameters:
        - in: path
          name: item
          schema:
            type: integer
            minimum: 1
            maximum: 5
          required: true
          description: The item in the list that should be deleted
      responses:
        '200':
          description: OK