openapi: '3.0.2'
info:
  title: Test API
  version: '1.0'
servers:
  - url: https://testapi.home.lab
    description: HomeLab-Server
  - url: http://localhost:3002
    description: Local-Server
paths:
  /test:
    put:
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test1:
                  type: number
                  format: float
                  minimum: -1.23
                  maximum: 534.74523
                  description: float test
                test2:
                  type: integer
                  minimum: -1
                  maximum: 12374234
                  description: integer test
                test3:
                  type: boolean
                  description: boolean test
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "Test"
  /test2:
    put:
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test1:
                  type: string
                  pattern: '[\s\S]{0,20}'
                  description: Test
                test2:
                  type: string
                  pattern: '([A-Za-z0-9]{5}-){2}[A-Za-z0-9]{5}'
                  example: 'uDqmG-jR3Bp-ad3FE'
                  description: Test
                test3:
                  type: string
                  format: date-time
                  description: Test
                test4:
                  type: string
                  format: byte
                  pattern: '[A-Za-z0-9+/]{0,60}={0,3}'
                  example: 'U3dhZ2dlciByb2Nrcw=='
                  description: Test
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "Test"