openapi: '3.0.2'
info:
  title: Test API
  version: '1.0'
servers:
  - url: https://testapi.home.lab
    description: HomeLab-Server
paths:
  /test:
    put:
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test1:
                  type: integer
                test2:
                  type: integer
                  format: int32
                test3:
                  type: integer
                  format: int64
                test4:
                  type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "Test"
  
  /test2:
    put:
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test1:
                  type: number
                test2:
                  type: number
                  format: float
                test3:
                  type: number
                  format: double
                test4:
                  type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "Test"
  /test3:
    put:
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test1:
                  type: string
                test2:
                  type: string
                  format: date
                test3:
                  type: string
                  format: date-time
                test4:
                  type: string
                  format: byte
                test5:
                  type: string
                  format: binary
                test6:
                  type: string
                  format: password
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "Test"
  /test4:
    put:
      requestBody:
        description: "none"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test1:
                  type: string
                  pattern: '[\s\S]{0,20}'
                test2:
                  type: string
                  pattern: '([A-Za-z0-9]{5}-){2}[A-Za-z0-9]{5}'
                test3:
                  type: string
                  pattern: '[A-Za-z0-9+/]{0,60}={0,3}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "Test"